[project]
	state = active
[access "refs/*"]
	owner = group ldap/mentors
[access "refs/heads/*"]
	owner = group ldap/mentors
	create = group ldap/mentors
	push = group ldap/mentors
	pushMerge = group ldap/mentors
	label-Code-Review = -2..+2 group ldap/mentors
	label-Verified = -1..+1 group ldap/mentors
	submit = group ldap/mentors
