[project]
	state = active
[access "refs/heads/master"]
	push = group ldap/mentors
	label-Code-Review = -2..+2 group Administrators
	label-Verified = -1..+1 group Administrators
	submit = group Administrators
	owner = group ldap/mentors
	create = group ldap/mentors
	pushMerge = group ldap/mentors
[access "refs/*"]
	owner = group ldap/mentors
